p,
div,
.row,
a,
span,
p,
body,
svg,
img,
li,
ul,
textarea {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
    color: white;
}

.main {
    display: flex;
}

.maincontainer {
    border: solid 1px grey;
    border-bottom: none;
    height: 100vh;
}

.leftcontainer,
.rightcontainer {
    margin-top: 20px;
}

.leftbox {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    font-size: 18px;
}

.explore,
.logo,
.setting {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;
}

.setting>svg {
    margin-right: 10px;
}

.searchbox-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox {
    margin-top: 20px;
    width: 80%;
    background-color: #404040;
    border-radius: 200px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.searchbox>svg {
    margin: 10px;
    width: 3%;
}

.searchbox>input {
    color: white;
    padding: 8px;
    width: 97%;
    border-radius: 200px;
    background-color: inherit;
    border: none;
    outline: none;
}

.searchsetting {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.navigationbar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav,
.nav-tabs {
    justify-content: inherit !important;
    width: 100%;
}

.searchsetting>svg {
    margin: 10px;
}

a {
    color: gray !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: gray;
    border: none;
    background-color: inherit;
}

.nav-tabs {
    border-bottom: none !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
}

.banner {
    background: url('https://imgcld.yatra.com/ytimages/image/upload/t_yt_blog_c_fill_q_auto:good_f_auto_w_800_h_500/v1543910413/StatueofUnity1_1543908986.jpg');
    height: 300px;
    width: 90%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.banner>div {
    background-color: white;
    opacity: 0.6;
    color: black;
    padding: 10px;
}

.banner>div>p {
    color: black;
    font-size: 28px;
}

.banner>div>p:first-child,
.top-news>p:first-child,
.trending>p:first-child {
    font-size: 14px;
}

.banner>div>p:last-child,
.top-news>p:last-child,
.trending>p:last-child {
    font-size: 14px;
}

.top-news-wrapper {
    overflow: hidden;
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    background-color: #161A15;
    color: gray;
    font-size: 400;
    display: flex;
}

.top-news>p {
    margin: 5px 0px;
}

.top-news>p:nth-child(2),
.trending>p:nth-child(2) {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.top-news>p:last-child>a {
    color: rgb(0, 128, 255) !important;
    text-decoration: none;
}

.top-news-image>img {
    border-radius: 10px;
    width: 100%;
}