p,
div,
.row,
a,
span,
p,
body,
svg,
img,
li,
ul,
textarea {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
    color: white;
}

.main {
    display: flex;
}

.maincontainer {
    border: solid 1px grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftcontainer,
.rightcontainer {
    margin-top: 20px;
}

.leftbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    font-size: 18px;
}

.explore,
.logo,
.setting {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;
}

.setting>svg {
    margin-right: 10px;
}

.searchbox {
    margin-top: 20px;
    width: 80%;
    background-color: #404040;
    border-radius: 200px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.searchbox>svg {
    margin: 10px;
    width: 3%;
}

.searchbox>input {
    color: white;
    padding: 8px;
    width: 97%;
    border-radius: 200px;
    background-color: inherit;
    border: none;
    outline: none;
}