.rightcontainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 !important;
    padding: 0px 10px !important;
}

@media screen and (max-width: 1400px) {
    .rightcontainer {
        width: 90%;
        align-items: center;
    }
}

.fixedsearchbox {
    position: fixed;
    width: 420px;
    z-index: 999999;
    background-color: black;
}

@media screen and (max-width: 1400px) {
    .fixedsearchbox {
        width: 360px;
    }
}

.searchbox {
    display: flex;
    width: 100%;
    padding: 4px;
    margin: 10px 0px;
    align-items: center;
    background-color: #1D1F23;
    border-radius: 200px;
}

.searchbox>svg {
    margin: 10px;
    width: 10%;
    opacity: 0.6;
}

.searchbox>input {
    color: white;
    padding: 8px;
    width: 90%;
    border-radius: 200px;
    background-color: inherit;
    border: none;
    outline: none;
}

.othersections {
    margin-top: 50px;
}

.box {
    width: 100%;
    background-color: #1D1F23;
    border-radius: 10px;
    margin: 5px;
    margin-top: 20px;
    padding: 20px;
}

.links {
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.links>div {
    width: 100%;
}

.links>div>a {
    font-size: 14px;
    color: gray !important;
    padding-right: 15px;
}