.listcontainer {
    min-height: 100vh;
    margin: 0px 10px;
    border-left: solid 1px #353935;
    border-right: solid 1px #353935;
}

.listmaincontainer {
    padding: 5px 16px;
    border-bottom: 1px solid #353935;
}

.listtopcontainer {
    display: flex;
    /* border: solid 1px red; */
    justify-content: space-between;
    align-items: center;
}

.listtoptitle {
    align-items: center;
    justify-content: center;
    /* border: solid 1px red; */
    margin-left: 30px;
}

.listtoptitle>p {
    margin: 0 !important;
}

.listtoptitle>p:first-child {
    font-size: 20px;
    font-weight: 800;
}

.listtoptitle>p:last-child {
    font-size: 14px;
    color: gray;
}

.backbtn {
    background-color: transparent;
    opacity: 1;
    color: none;
    padding: 0 !important;
    margin: 0 !important;
}

.listsubcontainer {
    padding-top: 10px;
    /* border: solid 1px blue; */
}

hr {
    color: #71767B;
}

.listsubcontainer>h5 {
    font-weight: 800 !important;
}

.listsubcontainer>div {
    padding: 20px;

}

.listcolor {
    color: #71767B;
}