.explorecontainer {
    border-left: solid 1px #353935;
    border-right: solid 1px #353935;
    min-height: 100vh;
    width: 100%;
}

.explorefixcontainer {
    display: flex;
    flex-direction: column;

}

.exploretoppanel {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exploresearchbox {
    display: flex;
    align-items: center;
    background-color: #1D1F23;
    border-radius: 200px;
}

.exploresearchbox>svg {
    margin: 10px;
    width: 10%;
    opacity: 0.6;
}

.exploresearchbox>input {
    color: white;
    padding: 8px;
    width: 90%;
    border-radius: 200px;
    background-color: inherit;
    border: none;
    outline: none;
}

.exploretabscontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #1D1F23;
}

.exploretabwrapper {
    display: flex;
    justify-content: center;
    width: 20%;
    /* border: 1px solid red; */
}


.exploretab {
    padding: 8px 0px;
    background-color: transparent;
    color: #71767B;
    border: none !important;
}

.exploretabwrapper:hover {
    background-color: #353935;
}

.exploredesccontainer {
    padding: 16px;
}