.maincontainer {
    border: solid 1px grey;
    border-bottom: none;
    height: 100%;
    padding: 0 !important;
}


.cricket-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    border: solid 1px gray;
    border-left: 0px;
    border-right: 0px;
    margin: 10px 0px;
}

.people {
    padding: 10px;
    width: 90%;
    /* border: solid 1px red; */
}

.profilephoto>img {
    width: 80%;
    border-radius: 50%;
    padding-right: 0;
    margin-right: 0;
}

.profile {
    margin-left: 0;

}

.profilename {
    display: flex;
    align-items: center;
    padding: 2px;
}

.profilename>svg {
    margin-left: 5px;
}

.profilename>p,
.profilename>a {
    color: gray;
    margin-left: 6px;
}

.options {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
    color: gray;
    /* border: solid 1px red; */
}

.options>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.options>div>svg {
    margin-right: 5px;
}