.leftcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 !important;
    padding-left: 60px;
}

@media screen and (min-width:1400px) {
    .leftcontainer {
        align-items: flex-end;
    }
}

.leftbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0 !important;
}

.leftbox :hover {
    cursor: pointer;
}

.explore,
.logo,
.setting {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    opacity: 0.8;
}



.explore>svg {
    margin-right: 20px;
}

.setting>svg {
    margin-right: 25px;
}

.tweet {
    padding: 12px 90px;
    margin-top: 12px;
    border-radius: 50px;
    background-color: #1A8CD8;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.logincontainer {
    position: relative;
    margin-top: 20px;
    width: 260px;
    /* background-color: #161A15; */
    border-radius: 50px;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    padding: 4px;
}

.loginimage {
    background-color: #33691E;
    padding: 6px 12px;
    margin: 2px 8px;
    border-radius: 50%;
}

.loginbtn {
    margin: 10px;
    margin-left: 20px;
}

.loginname>p {
    padding: 0;
    margin: 2px;
}

.loginname>p:last-child {
    font-size: 14px;
    color: #71767B;
}

.loginname {
    width: 50%;
}