.notificationcontainer {
    border-left: solid 1px #353935;
    border-right: solid 1px #353935;
    height: 100vh;
}

.notificationsubcontainer {
    border-bottom: 1px solid #353935;
}

.notitoppanel {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.notitoppanel>p {
    font-size: 18px;
    font-weight: 600;
}

.notificationtabs {
    display: flex;
    justify-content: space-between;

}

.notificationtabwrapper {
    width: 33.33%;
}

.notificationtab {
    padding: 10px 0px;
    width: 100%;
    margin: 0 !important;
    background-color: transparent;
    color: #71767B;
}

.notificationtab:hover {
    background-color: #353935;
}